{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Sign up</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            Add your credentials
                        {% endif %}
                    </span>

                    <br />
                    <br />

                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        {% if form.non_field_errors %}
                        <span class="text-error">{{ form.non_field_errors }}</span>
                        {% endif %}

                        <div class="input-group mb-3">
                            <label class="sr-only" for="{{ form.username.id_for_label }}">Username</label>
                            {{ form.username }}
                        </div>
                        <span class="text-error">{{ form.username.errors }}</span>

                        {% if form.email %}
                        <div class="input-group mb-3">
                            <label class="sr-only" for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email }}
                        </div>
                        <span class="text-error">{{ form.email.errors }}</span>
                        {% endif %}

                        {% if form.first_name %}
                        <div class="input-group mb-3">
                            <label class="sr-only" for="{{ form.first_name.id_for_label }}">First name</label>
                            {{ form.first_name }}
                        </div>
                        <span class="text-error">{{ form.first_name.errors }}</span>
                        {% endif %}

                        {% if form.last_name %}
                        <div class="input-group mb-3">
                            <label class="sr-only" for="{{ form.last_name.id_for_label }}">Last name</label>
                            {{ form.last_name }}
                        </div>
                        <span class="text-error">{{ form.last_name.errors }}</span>
                        {% endif %}

                        <div class="input-group mb-4">
                            <label class="sr-only" for="{{ form.password1.id_for_label }}">Password</label>
                            {{ form.password1 }}
                        </div>
                        <span class="text-error">{{ form.password1.errors }}</span>

                        <div class="input-group mb-4">
                            <label class="sr-only" for="{{ form.password2.id_for_label }}">Confirm password</label>
                            {{ form.password2 }}
                        </div>
                        <span class="text-error">{{ form.password2.errors }}</span>

                        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

                    </form>

                    <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                    <br />
                    <p class="mb-2 text-muted">
                        Made with ❤️ by <a href="https://www.hephaestus.fr" target="_blank" rel="noopener">Hephaestus</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
