{% extends "layouts/base.html" %}
{% load comment_extras %}
{% block title %} Comment {% endblock %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Comment by {{ comment.user }}</h5>
                            </div>
                            <div class="card-block">
                                {% if comment.book %}
                                <p>Book: {{ comment.book }}</p>
                                {% endif %}
                                <p>{{ comment.body|sanitize_rich_text }}</p>
                                <p class="text-muted">{{ comment.created_at|date:"Y/m/d H:i" }}</p>
                                <a href="{% url 'comment:comment_list' %}" class="btn btn-primary">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
