{% extends "layouts/base.html" %}

{% block title %}Members{% endblock %} 
{% load book_extras %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Membership Management</h5>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <br>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total {{count_total}} members</h5>
                            </div>
                            
                            {% show_messages %}
                            <div class="card-block ">
                                <div class='row'>
                                    <div class="col-6">
                                        <b>Sort By : - </b>
                                        <a href="{% url 'member_list' %}?search={{search}}&orderby=id">Id</a>  | 
                                        <a href="{% url 'member_list' %}?search={{ search }}&orderby=name">Name</a> |  
                                        <a href="{% url 'member_list' %}?search={{ search }}&orderby=city">City</a> 
                                    </div>
   
                                    <div class="col-6">
                                        <form class="form-inline mb-2">
                                            <div class="form-group  mb-2">
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="search",
                                                       id='search',
                                                       placeholder="name or card number",
                                                       value={{search}}
                                                       >
                                            </div>
                                            <button type="submit" class="btn btn-secondary mb-2 ml-2 btn-sm">Search</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="table-responsive table-hover">
                                    <table class="table table-fit">
                                        <thead>
                                            <tr>
                                                <th class="col-text">Name</th>
                                                <th class="col-short">Sex</th>
                                                <th class="col-text d-none d-lg-table-cell">Phone</th>
                                                <th class="col-text">Card</th>
                                                <th class="col-text d-none d-lg-table-cell">City</th>
                                                <th class="col-email d-none d-lg-table-cell">Email</th>
                                                <th class="col-text d-none d-lg-table-cell">Created At</th>
                                                <th class="col-short">Expired At</th>
                                                <th class="col-actions">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for member in members %}
                                            <tr>
                                                <td class="col-text"><a href="{% url 'member_detail' member.pk %}"><i class="feather icon-user"></i>&nbsp;{{ member.name }}</a></td>
                                                <td class="col-short">{{member.gender|upper}}</td>
                                                <td class="col-text d-none d-lg-table-cell">{{ member.phone_number }}</td>
                                                <td class="col-text">{{ member.card_number }}</td>
                                                <td class="col-text d-none d-lg-table-cell">{{ member.city }}</td>
                                                <td class="col-email d-none d-lg-table-cell">{{ member.email }}</td>
                                                <td class="col-text d-none d-lg-table-cell">{{ member.created_at|date:"Y-m-d" }} by {{ member.created_by }}</td>
                                                <td class="col-short">{{ member.expired_at|date:"Y-m-d" }} </td>
                                                <td class="col-actions">
                                                    <a href="{% url 'member_update' member.pk %}" class="badge badge-info"><i class="feather icon-edit"></i>&nbsp;Edit</a>&nbsp;
                                                    <form method="post" action="{% url 'member_delete' member.pk %}" style="display:inline">{% csrf_token %}<button type="submit" class="badge badge-danger border-0"><i class="feather icon-trash-2"></i>&nbsp;Delete</button></form></td>
                                                    
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class='col-6'>
                                        <a href="{% url 'member_create' %}" class='btn btn-primary'>Add New Member</a>
                                    </div>
                                    <div class='col-6'>
 
                                        {% show_pagination %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
