<div class="pagination">
    <div class="m-auto">
      <span class="step-links">
        <!-- 如果不是第一页，则显示上翻按钮 -->
        {% if categories.has_previous %}
        <a
          href="?page=1&order={{ order }}&search={{ search }}"
          class="btn btn-outline-dark btn-xs"
        >
          &laquo; First
        </a>
        <span>...</span>
        <a
          href="?page={{ categories.previous_page_number }}&order={{ order }}&search={{ search }}" 
          class="btn btn-secondary btn-xs"
        >
          {{ categories.previous_page_number }}
        </a>
        {% endif %}
  
        <!-- 当前页面 -->
        <span class="current btn btn-danger btn-sm">
          {{ categories.number }}
        </span>
  
        <!-- 如果不是最末页，则显示下翻按钮 -->
        {% if categories.has_next %}
        <a
          href="?page={{ categories.next_page_number }}&order={{ order }}&search={{ search }}"
          class="btn btn-secondary btn-xs"
        >
          {{ categories.next_page_number }}
        </a>
        <b><span>...</span></b>
        <a
          href="?page={{ categories.paginator.num_pages }}&order={{ order }}&search={{ search }}"
          class="btn btn-outline-dark btn-xs"
        >
          Last &raquo;
        </a>
        {% endif %}
      </span>
    </div>
  </div>
