{% extends "layouts/base.html" %}

{% block title %} Borrow Records {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">All Borrow Records</h5>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <br>
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total {{count_total}} records</h5>
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                {% else %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                            {% endif %}


                            <div class="card-block ">
                                <div class='row'>
                                    <div class="col-6">
                                        <b>Sort By : - </b>
                                        <a href="{% url 'record_list' %}?search={{search}}&orderby=id">Id</a>  | 
                                        <a href="{% url 'record_list' %}?search={{ search }}&orderby=name">Name</a> |  
                                        <a href="{% url 'record_list' %}?search={{ search }}&orderby=city">City</a> 
                                    </div>
   
                                    <div class="col-6">
                                        <form class="form-inline mb-2">
                                            <div class="form-group  mb-2">
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="search",
                                                       id='search',
                                                       placeholder="name or card number",
                                                       value={{search}}
                                                       >
                                            </div>
                                            <button type="submit" class="btn btn-secondary mb-2 ml-2 btn-sm">Search</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="table-responsive table-hover">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Card</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Book</th>
                                                <th>Num</th>
                                                <th>Borrow date</th>
                                                <th>Return date</th>
                                                <th>Status</th>
                                                <th>Delayed </th>
                                                <!-- <th>Created By</th> -->
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for record in records %}
                                            <tr>
                                                <td>{{record.borrower}}</a></td>  
                                                <td>{{record.borrower_card}}</a></td>  
                                                <td>{{record.borrower_phone_number}}</a></td>   
                                                <td>{{record.borrower_email}}</a></td>                                                            
                                                <td>{{record.book}}</td>
                                                <td>{{record.quantity}}</td>
                                                <td>{{record.start_day|date:"Y-m-d"}}</td>
                                                <td>{{record.end_day|date:"Y-m-d"}}</td>
                                                <td>{{record.get_status_display}}</td>
                                                {% if record.delay_days == 0 %}
                                                <td>No</td>
                                                {% else %}
                                                <td>{{record.delay_days}} days</td>
                                                {% endif %}
                                                
                                                <!-- <td> {{record.created_by}} </td> -->
                                                
                                                <td>
                                                    <a href="{% url 'record_delete' record.pk %}" class="badge badge-danger"><i class="feather icon-trash-2"></i>&nbsp;Delete</a>
                                                </td>
                                                    
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class='col-6'>
                                        <a href="{% url 'record_create' %}" class='btn btn-primary'>Add New record</a>
                                    </div>
                                    <div class='col-6'>
                                        <ul class="pagination m-auto">

                                          {% if records.has_previous %}

                                          <li class="page-item "><a href="?page=1&orderby={{ order }}&search={{ search }}"><span class="page-link">First</span></a></li>
                                          <li class="page-item"><a class="page-link" href="?page={{ records.previous_page_number }}&orderby={{ order }}&search={{ search }}">{{ records.previous_page_number }}</a></li>
                                          <li class="page-item active"><a class="page-link" href=""> {{ records.number }}</a></li>

                                          {% else %}
                                          <li class="page-item disabled"><a href="?page=1&orderby={{ order }}&search={{ search }}"><span class="page-link">First</span></a></li>
                                          <li class="page-item active"><a class="page-link" href=""> {{ records.number }}</a></li>
                                          {% endif %}

                                          {% if records.has_next %}
                                          <li class="page-item"><a class="page-link" href="?page={{ records.next_page_number }}&orderby={{ order }}&search={{ search }}">{{ records.next_page_number }}</a></li>
                                          <li class="page-item"><a class="page-link" href="?page={{ records.paginator.num_pages }}&orderby={{ order }}&search={{ search }}">Last</a></li>
                                          {% else %}
                                          <li class="page-item disabled"><a href=""><span class="page-link">End</span></a></li>
                                          {% endif %}

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
