{% extends "layouts/base.html" %}
{% load book_extras %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <br>                
                <div class="page-wrapper">
                    <div class="row">
                        <!--  Count Books  -->
                        <div class='col-md-3'>
                            <div class="card">
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-book f-40 text-c-blue "></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{data_count.book}}</h3>
                                            <span class="d-block text-uppercase">TOTAL BOOKS</span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Count Members -->
                        <div class='col-md-3'>
                            <div class="card">
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-user-friends f-40 " style="color:coral"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{data_count.member}}</h3>
                                            <span class="d-block text-uppercase">TOTAL MEMBERS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Count Categories -->
                        <div class='col-md-3'>
                        <div class="card">
                            <div class="card-block">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-cubes f-40 text-c-purple"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{data_count.category}}</h3>
                                        <span class="d-block text-uppercase">TOTAL CATEGORIES</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- Count Publishers -->
                        <div class='col-md-3'>                    
                            <div class="card">
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class=" feather icon-file-text f-40 text-c-green"></i>                                
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{data_count.publisher}}</h3>
                                            <span class="d-block text-uppercase">TOTAL PUBLISHERS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-md-6">
                            <!-- Recent Closed Records -->
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Recent Closed Records</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-fit">
                                            <thead class="">
                                                <tr>
                                                    <th class="col-text">Member</th>
                                                    <th class="col-text">Book</th>
                                                    <th class="col-short">Start / End</th>
                                                    <th class="col-short">Closed at</th>
                                                    <!-- <th>On Time ?</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for r in new_closed_records %}
                                                <tr class="unread">
                                                 <td class="col-text">
                                                        <p class="mb-1"><a href="{% url 'record_detail' r.pk %}">{{ r.borrower }}</a></p>
                                                        <p class="m-0 d-none d-lg-block"><i class="fas fa-credit-card" style="color: Tomato;"></i>&nbsp;{{ r.borrower_card }}&nbsp;&nbsp;<i class="fas fa-mobile" style="color: cornflowerblue;"></i>&nbsp;{{ r.borrower_phone_number }}</p>
                                                 </td>
                                                    <td class="col-text">{{ r.book }}</td>
                                                    <td class="col-short" title="{{ r.start_day|date:'Y/m/d' }} - {{ r.end_day|date:'Y/m/d' }}">{{r.start_day|date:"Y/m/d" }} - {{r.end_day|date:"Y/m/d" }} </td>
                                                    <td class="col-short">{% if r.open_or_close == 1 and r.closed_at %}{{ r.closed_at|timesince }}{% endif %}</td>
                                                    <!-- <td>{{r.return_status}}</td> -->
                                                </tr>
                                                {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 d-flex">
                            <!-- New members registed this week -->
                            <div class="card flex-fill d-flex flex-column">
                                <div class="card-block border-bottom flex-fill d-flex align-items-center">
                                    <div class="row d-flex align-items-center w-100">
                                        <div class="col-auto">
                                            <i class="fas fa-user f-30 " style="color:coral"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="mt-2 f-w-300">{{new_members_thisweek}} <sub class="text-muted f-15 ">New Members</sub></h3>
                                            <span class="d-block text-uppercase">THIS WEEK</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Books lent this week -->
                                <div class="card-block flex-fill d-flex align-items-center">
                                    <div class="row d-flex align-items-center w-100">
                                        <div class="col-auto">
                                            <i class="fas fa-book f-30 text-c-blue "></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="mt-2 f-w-300">{{lent_books_thisweek}} <sub class="text-muted f-15 ">Books Lent</sub></h3>
                                            <span class="d-block text-uppercase">THIS WEEK</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 
                        <!-- <div class="col-xl-4 col-md-6">
                            <div class="card user-list">
                                <div class="card-header">
                                    <h5>Rating</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center m-b-20">
                                        <div class="col-6">
                                            <h2 class="f-w-300 d-flex align-items-center float-left m-0">4.7 <i class="fas fa-star f-10 m-l-10 text-c-yellow"></i></h2>
                                        </div>
                                        <div class="col-6">
                                            <h6 class="d-flex  align-items-center float-right m-0">0.4 <i class="fas fa-caret-up text-c-green f-22 m-l-10"></i></h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>5</h6>
                                            <h6 class="align-items-center float-right">384</h6>
                                            <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
   
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>2</h6>
                                            <h6 class="align-items-center float-right">1</h6>
                                            <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>1</h6>
                                            <h6 class="align-items-center float-right">0</h6>
                                            <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                                <div class="progress-bar" role="progressbar" style="width:0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xl-12 col-md-12 m-b-30">
                        <div class="card recent-events">
                            <div class="card-header">
                                <h5>Recent Events</h5>
                            </div>
                            <div class="card-block ">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link " id="members-tab" data-toggle="tab" href="#new_member" role="tab" aria-controls="new_member" aria-selected="false">New Member</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="stock-tab" data-toggle="tab" href="#stock" role="tab" aria-controls="stock" aria-selected="false">Short inventory</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Recent Logs </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active show" id="return-tab" data-toggle="tab" href="#return" role="tab" aria-controls="return" aria-selected="true">Return books this week </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <!-- New members -->
                                    <div class="tab-pane fade " id="new_member" role="tabpanel" aria-labelledby="members-tab">
                                        <div class="table-responsive">
                                        <table class="table table-hover table-fit">
                                            <thead>
                                                <tr>
                                                    <th class="col-text">Name</th>
                                                    <th class="col-short">Sex</th>
                                                    <th class="col-short">Age</th>
                                                    <th class="col-short">Card N </th>
                                                    <th class="col-short">Joined at</th>
                                                    <th class="col-text">Created by</th>
                                                    <th class="col-short text-right"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for member in new_members %}
                                                <tr>
                                                    <td class="col-text"><a href="{% url 'member_detail' member.pk %}">{{member.name}}</a></td>
                                                    {% if member.gender == 'm' %}
                                                    <td class="col-short"><i class="fas fa-mars "></i></td>
                                                    {% else %}
                                                    <td class="col-short"><i class="fas fa-venus"></i></td>
                                                    {% endif %}
                                                    <td class="col-short">{{member.age}}</td>     
                                                    <td class="col-short">{{member.card_number}}</td>  
                                                    <td class="col-short">{{member.created_at| timesince}}</td>
                                                    <td class="col-text">{{member.created_by}}</td>                     
         
                                                </tr>
    
                                                {% endfor %}
      
    
     
                                            </tbody>
                                        </table>
                                        </div>
    
                                    </div>
                                    <!-- Book inventory -->
                                    <div class="tab-pane fade " id="stock" role="tabpanel" aria-labelledby="stock-tab">
                                        <div class="table-responsive">
                                        <table class="table table-hover table-fit">
                                            <thead>
                                                <tr>
                                                    <th class="col-text">Title</th>
                                                    <th class="col-text">Author</th>
                                                    <th class="col-short">Quantity</th>
                                                    <th class="col-short">Location</th>
                                                    <th class="col-short text-right"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
    
                                                {% for book in short_inventory %}
                                                <tr>
                                                    <td class="col-text"><a href="{% url 'book_detail' book.pk %}">{{book.title}}</a></td>
                                                    <td class="col-text">{{book.author}}</td>
                                                    <td class="col-short">{{book.quantity}}</td>     
                                                    <td class="col-short">{{book.floor_number}}{{book.bookshelf_number}}</td>                       
                                                    {% if book.quantity < 5 %}
                                                    <td class="col-short text-center"><i class="fas fa-exclamation-circle text-c-red f-20"></i></td>
                                                    {% elif  book.quantity > 5 and book.quantity <= 10 %}
                                                    <td class="col-short text-center"><i class="fas fa-exclamation-circle text-c-purple f-20"></i></td>
                                                    {% endif %}
                                                </tr>
    
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        </div>
    
                                    </div>
                                    <!-- Recent Logs -->
                                    <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
                                        <div class="table-responsive">
                                        <table class="table table-hover table-fit">
                                            <thead>
                                                <tr>
                                                    <th class="col-user">User</th>
                                                    <th class="col-text">Activity</th>
                                                    <th class="col-short">At</th>
                                                    <th class="col-short">Type</th>
                                                    <th class="col-short text-right"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for log in recent_user_activities %}
                                                    <tr>   
                                                        <td class="col-user">{% with avatar=user_avatar|get_item:log.created_by %}<span class="user-with-avatar"><img class="rounded-circle" alt="" src="{% if avatar %}{{ avatar }}{% else %}{% static 'assets/images/user/avatar-2.jpg' %}{% endif %}" onerror="this.onerror=null;this.src='{% static 'assets/images/user/avatar-2.jpg' %}'"><span>{{ log.created_by }}</span></span>{% endwith %}</td>
                                                        <td class="col-text"> {{log.detail}} </td>
                                                        <!-- <td>{{log.created_at |date:"Y-m-d"}}</td> -->
                                                        <td class="col-short">{{ log.created_at | timesince }}</td>
                                                        <td class="col-short">{{log.get_operation_type_display}} </td>
    
                                                        {% if log.operation_type == "success" %}
                                                            <td class="col-short text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                                                        {% endif %}
    
                                                        {% if log.operation_type == "warning" %}
                                                            <td class="col-short text-right"><i class="fas fa-circle text-c-yellow f-10"></i></td>
                                                        {% endif %}
    
                                                        {% if log.operation_type == "danger" %}
                                                            <td class="col-short text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                                                        {% endif %}


                                                        {% if log.operation_type == "info" %}
                                                        <td class="col-short text-right"><i class="fas fa-circle text-c-blue f-10"></i></td>
                                                    {% endif %}
    
                                                    </tr>
    
                                                {% endfor %}
    
       
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>

                                    <!-- Retrun books this week -->
                                    <div class="tab-pane fade active show" id="return" role="tabpanel" aria-labelledby="return-tab">
                                    <div class="table-responsive">
                                    <table class="table table-hover table-fit">
                                        <thead>
                                            <tr>
                                                <th class="col-text">Borrower</th>
                                                <th class="col-text d-none d-lg-table-cell">Card</th>
                                                <th class="col-text d-none d-lg-table-cell">Phone</th>
                                                <th class="col-text">Book</th>
                                                <th class="col-short">Start date</th>
                                                <th class="col-short">Return date</th>
                                                <th class="col-short">Delayed</th>
                                                <th class="col-actions">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for r in books_return_thisweek %}
                                                <tr>   
                                                    <td class="col-text"><a href="{% url 'record_detail' r.pk %}">{{ r.borrower }}</a></td>
                                                    <td class="col-text d-none d-lg-table-cell">{{ r.borrower_card }}</td>
                                                    <td class="col-text d-none d-lg-table-cell">{{ r.borrower_phone_number }}</td>
                                                    <td class="col-text">{{ r.book }}</td>
                                                    <td class="col-short">{{r.start_day|date:"Y-m-d" }} </td>
                                                    <td class="col-short">{{r.end_day|date:"Y-m-d" }} </td>
                                                    {% if r.return_status == "Overdue" %}
                                                    <td class="col-short table-danger">{{ r.return_status }} {{ r.get_delay_number_days }} day{{ r.get_delay_number_days|pluralize }}</td>

                                                    {% else %}
                                                    <td class="col-short table-success">{{r.return_status}}</td>

                                                    {% endif %}

                                                    {% if r.open_or_close == 0 %}
                                                    <td class="col-actions"><a href="{% url 'record_detail' r.pk %}" class="badge badge-danger badge-bg"><i class="fa fa-times"></i>&nbsp;Close</a></td>
                                                    {% else %}
                                                    <td class="col-actions">Closed</td>

                                                    {% endif %}
                                                    
                                                </tr>

                                            {% endfor %}

    
                                        </tbody>
                                    </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
