{% extends "layouts/base-fullscreen.html" %}

{% block title %}Register{% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">
                        Register
                    </h3>

                    <span class="mb-0 text-muted">
                        Add your credentials
                    </span>

                    <br />
                    <br />

                    <!-- Hide the form on success -->
                    <form role="form" action="/">

                        <div class="input-group mb-3">
                            <label class="sr-only" for="register-username">Username</label>
                            <input id="register-username" class="form-control" placeholder="Username" aria-label="Username">
                        </div>
                        
                        <div class="input-group mb-3">
                            <label class="sr-only" for="register-email">Email</label>
                            <input id="register-email" type="email" class="form-control" placeholder="Email" aria-label="Email">
                        </div>

                        <div class="input-group mb-4">
                            <label class="sr-only" for="register-password">Password</label>
                            <input id="register-password" type="password" class="form-control" placeholder="password" aria-label="password">
                        </div>

                        <button name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

                    </form>
                    
                    <p class="mb-0 text-muted">Already have an account? <a href="/login.html" >Login</a></p>
                    <br />

                    <p class="mb-2 text-muted">
                        Made with ❤️ by <a href="https://www.hephaestus.fr" target="_blank" rel="noopener">Hephaestus</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
